body {
  padding: 32px;
  margin: 32px;
  background-color: #f8f8f8;
  font-family: "Planet Inter var", system-ui, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #111;
}

h1 {
    margin: 0;
}
